Repository ephect-io/vscode-intelephect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --prose-wrap always

docs: update the version
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --write --prose-wrap always

chore(docs): add an icon
  .vscodeignore
  icon.png
  package-lock.json
  package.json
Due: prettier --write

fix(docs): turn from french to english
  .github/pull_request_template.md
  CHANGELOG.md
  CONVENTIONAL_COMMITS.md
  INTELEPHENSE_COMPATIBILITY.md
  README.md
  examples/advanced-ephect-directives.php
Due: prettier --write --prose-wrap always

fix: should highlight all php text
  syntaxes/ephect-php.tmLanguage.json
  test-highlighting.php
Due: prettier --write

fix: should fix the coloration of standard php code
  package.json
  syntaxes/ephect-php.tmLanguage.json
Due: prettier --write

chore(release): 0.2.12
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

chore(release): 0.2.13
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

fix: don't embed .env
  .vscodeignore
Due: none

chore(release): 0.2.14
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

chore(release): 0.2.15
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

fix(bug): try to colorize arobase tags and liquid expressions like php expressions
  assets/icon.png
  syntaxes/ephect-php.tmLanguage.json
Due: prettier --write

chore(release): 0.2.16
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

fix: try to fix php coloring
  syntaxes/ephect-php.tmLanguage.json
Due: prettier --write

fix: remove husky deprecations
  .husky/commit-msg
  .husky/pre-commit
  CHANGELOG.md
Due: prettier --write --prose-wrap always

chore(release): 0.2.17
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

fix: restore php coloring
  CHANGELOG.md
  syntaxes/ephect-php.tmLanguage.json
Due: prettier --write, prettier --write --prose-wrap always

fix: reintroduce php directives
  assets/icon.png
  examples/sample.phtml
  syntaxes/ephect-php.tmLanguage.json
Due: prettier --write

chore(release): 0.2.18
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

fix(docs): remake readme.md
  DOCUMENTATION.md
  README.md
  examples/advanced-ephect-directives.phtml
Due: prettier --write --prose-wrap always

fix: repair the php and ephect directives
  package-lock.json
  package.json
  syntaxes/ephect-php.tmLanguage.json
Due: prettier --write

chore(release): 0.2.19
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

feat: restart from blade syntax
  syntaxes/ephect-php.tmLanguage.json
Due: prettier --write

fix: add ephect directives to blade syntax
  CHANGELOG.md
  syntaxes/ephect-php.tmLanguage.json
  themes/ephect-dark-color-theme.json
Due: prettier --write, prettier --write --prose-wrap always

chore(release): 0.2.20
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

fix: remake example templates
  examples/advanced-table.phpx
  examples/complex-component.phpx
  examples/data-table.phpx
  examples/sample-ephect-template.php
  examples/sample.phtml
  examples/user-card.phpx
Due: none

fix: reuse 0.2.18 syntax
  syntaxes/ephect-php.tmLanguage.json
Due: prettier --write

chore(release): 0.2.21
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

fix: update package details
  package.json
Due: prettier --write

fix: set different colors for exphect keywords syntax
  themes/ephect-dark-color-theme.json
Due: prettier --write

chore(release): 0.2.22
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

fix: try to fix ephect keywords syntax coloring
  .vscode/task.json
  language-configuration.json
  package.json
  syntaxes/ephect-php.tmLanguage.json
  themes/ephect-dark-color-theme.json
Due: prettier --write

chore(release): 0.2.23
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

fix: try to fix ephect keywords coloring
  package.json
  syntaxes/ephect-php.tmLanguage.json
  themes/ephect-dark-color-theme.json
Due: prettier --write

chore(release): 0.2.24
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

fix: try to fix ephect syntax coloring
  syntaxes/ephect-php.tmLanguage.json
Due: prettier --write

chore(release): 0.2.25
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, prettier --write --prose-wrap always

feat: add new experimental themes
  themes/ephect-dark-origin.json
  themes/ephect-dark-solo.json
  themes/ephect-dark.json
  themes/ephect-light.json
  themes/ephect-midnight.json
  themes/ephect-monokai.json
Due: prettier --write

fix: try a new syntax
  syntaxes/ephect-php.tmLanguage.json
  syntaxes/ephect.tmLanguage.json
Due: prettier --write

feat: add some more intelligence
  package.json
  server/ephect-lsp.ts
  server/ephectFormatter.ts
  snippets/ephect.json
  src/EphectParser.php
  src/extension.ts
  tsconfig.json
Due: prettier --write

feat: add tests
  .hintrc
  jest.config.js
  language-configuration.json
  package-lock.json
  tests/formatter.test.ts
  tests/jest.config.js
  tests/lsp.test.ts
  tests/parser.test.php
  tests/run-tests.sh
  tests/vscode-test.ts
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts,json}) or (any of: *.{yml,yaml})
  prettier --write --prose-wrap always: any of: *.md
